.card-bloco {
    width: calc(100%/ 4);
}

.lista-jogo {
    .linha {
        height: 32px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;

        img {
            height: 30px;
            width: auto;
        }


        h4 {
            margin: 0;
        }
    }

}