.bahia {
    .stroke {
        stroke: #006296;
        stroke-width: 2;
    }

    .fill {
        fill: #006296;
        opacity: 0.05;
    }

    .point {
        fill: #006296;
        stroke: #006296;
    }
}

.meta {
    .stroke {
        stroke: #b13939;
        stroke-width: 2;
    }

    .point {
        fill: #b13939;
        stroke: #b13939;
    }
}